.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 9999px;
  font-weight: 500;
  line-height: 1;
  border: none;
}

/* size */
.badge--sm {
  padding: 4px 10px;
  font-size: 12px;
}

.badge--md {
  padding: 6px 12px;
  font-size: 14px;
}

.badge--lg {
  padding: 8px 16px;
  font-size: 16px;
}

/* variant */
.badge--primary {
  background-color: var(--color-bg-default);
  color: var(--color-primary);
}